*,
*::after,
::before{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--green);
}

h1,h2{
    font-family: 'Libre Baskerville', serif;  
}

img{
    max-width: 100%;
}

/* HEADER -----start------*/
.header{
    margin-bottom: 65px;
}

.container{
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 24px;
}

.header-wrapper{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 14px;
}

.header-left__content h3{
    font-size: 23px;
    line-height: normal;
    letter-spacing: 2.3px;
    text-transform: uppercase;
}

.header-left__content p{
    color: #333;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}

.header-right__menu{
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.header-right__menu > li > a{
    color: #414840;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.header-right__menu > li.active > a{
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid var(--background-green);
}

.header-rigth__burger{
    display: none;
}
/* HEADER -----finish------*/



/* ADVENTURE SECTION ---start---*/
.adventure{
    margin-bottom: 125px;
}

.adventure-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.adventure-left{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adventure-left__title{
    max-width: 528px;
    margin-bottom: 16px;
}

.adventure-left__text{
    max-width: 471px;
    margin-bottom: 32px;
}

.title{
    color: var(--green);
    /* text/extra large title */
    font-family: Libre Baskerville;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 62.7px */
    text-transform: capitalize;    
}

.text{
    color: #414840;
    /* text/large body */
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 37.5px */
    text-transform: capitalize;    
}


/*button*/
.btn a{
    display: inline-block;
    padding: 20px 40px;
    font-size: 14px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}

.adventure-left__btn{
    display: flex;
    gap: 16px;
}

.btn-green a{
    background: var(--background-green);
    border: 1px solid var(--background-green);
    color: var(--white);
}
.btn-white a{
    color: var(--background-green);
    border: 1px solid var(--background-green);
}

.btn-green-white{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.adventure-right{
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
}

.adventure-right img{
    max-width: 100%;
}
/* ADVENTURE SECTION ---finish---*/

/* NATURE SECTON ----start-----*/
.nature{
    background: var(--green);
    padding: 96px 0;
    position: relative;
}

.nature::after{
    content: "";
    background: url("../img/nature-branch.png") 0 0/cover no-repeat;
    height: 662px;
    width: 734px;
    
    right: 0;
    bottom: 58px;
    display: block;
    position: absolute;
    opacity: 0.07000000029802322;
}

.nature > .container{
    max-width: 1044px;
    margin: 0 auto;
}

.nature-wrapper{
    position: relative;
    z-index: 1;
}

.nature-wrapper__top{
    display: flex;
    gap: 90px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.nature-wrapper__top img{
    max-width: 100%;
}

.nature-wrapper-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.nature-wrapper-content__title{
    color: var(--white);
    max-width: 417px;
    font-size: 45px;
}
.nature-wrapper-content__text{
    color: var(--white);
    max-width: 401px;
    line-height: 30px;
    font-size: 20px;
}


.nature-wrapper__bottom img{
    max-width: 100%;
}
/* NATURE SECTON ----finish-----*/


/* NEWS SECTON ----start-----*/
.news{
    padding: 96px 0;
}

.news__title{
    color: var(--green);
    font-size: 45px;
    margin-bottom: 16px;

}

.news__text-box{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.news__text{
    color:var(--background-green);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.news__text-box span{
    display: inline-block;
    width: 11%;
    height: 2px;
    opacity: 0.4000000059604645;
    background: var(--background-green);   
}

.news__text-box .arrow{
    width: 24px;
    height: 24px;
    background: url("../img/arrow-right.png") no-repeat;
    display: inline-block;    
}

.news-content{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.news-content__left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.news-content__left__img{
    max-width: 100%;
}
.news-content__left__text{
    padding: 20px 26px 0 26px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 519px;
}

.news-title{
    color: var(--background-green);
    font-family: Libre Baskerville;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
}

.news-subtext{
    color: var(--text-body-copy, #414840);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.news-date{
    color: var(--green);
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; 
}

.news-content__right{
    flex: 1;
}

.news-content__right-box{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.news-content__right-box:not(.news-content__right-box:last-child){
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;

}
.news-content__right-box__content{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
/* NEWS SECTON ----finis-----*/

/* pre-footer ----start----*/
.pre-footer{
    background:  #414840;
    padding: 48px 0 60px 0;
}

.pre-footer-wrapper{
    display: flex;

}

.pre-footer-left{
    max-width: 269px;
}

.pre-footer-logo{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
}

.pre-footer-logo__content{
    display: flex;
    flex-direction: column;

}
.pre-footer-logo__content-title{
    color:  var(--white);
    font-family: Roboto;
    font-size: 18.896px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.89px;
    text-transform: uppercase;
}

.pre-footer-logo__content-text{
    color:  var(--white);
    font-size: 12.323px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.123px;
}

.pre-footer-left__text{
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.pre-footer-left__text.disabled{
    display: none;
}

.pre-footer-middle{
    padding-left: 25%;
}

.pre-footer-middle p{
    color: var(--white);
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.pre-footer-middle nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.pre-footer-middle a{
    color: var(--white);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pre-footer-right{
    margin-left: auto;
}

.pre-footer-right p{
    color: var(--white);
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.pre-footer-right .media{    
    display: flex;
    gap: 32px;
}

.pre-footer-right .media img{
    width: 24px;
    height: 24px;
    max-width: inherit;
}

footer{
    background: var(--green);
    padding: 30px 0;
}

footer p{
    text-align: center;
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* pre-footer ----finish----*/
